body
{
    background-image: url("https://img.freepik.com/free-vector/kitchen-interior-design-with-furnitures-decorations_1308-76245.jpg?w=2000");
    color: #e6e3d3;
}

.recipe-list
{
    width: 40rem;
    height: 50rem;
    border: 5px solid #2f4f7a;
    background-color: #668bad;
    margin: auto auto;
    border-radius: 40px;
}

.page-title
{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: #e6e3d3;
    text-decoration-style: solid;
}

a 
{
    float: left;
    color: #e6e3d3;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

a:hover
{
    color: #b0aea1;
}

.img-main-page
{
    display: block;
    margin: 10px 30px;
    width: 180px;
    height: auto;
    border-radius: 20px;
}

.img-main-page.pumpkin
{
    width: 200px;
    height: auto;
}

hr
{
    height: 2px;
    background-color: #2f4f7a;
    border-color: #2f4f7a;
}

.rating
{
    float: right;
    display: inline;
    width: 200px;
    height: auto;
    overflow: hidden;
    margin: -90px 0;
}

p
{
    font-size: 16px;
    margin-top: 22px;
    margin-bottom: 22px;
    text-align: center;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}